* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;

  width: 100%;
}
.header {
  display: inline;
  margin-left: 700px;
}
#nav {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  padding-right: 40px;
  gap: 50px;

  margin-bottom: 30px;
  justify-content: flex-end;
  background-color: black;
  color: white;
}

.left-align {
  text-align: justify;
}
#head {
  text-align: center;
  font-weight: 550;
}

#img-1 {
  margin-top: 40px;
  margin-left: 240px;
}

.nav-heading {
  color: red;
}
.education {
  margin-top: 50px;
  margin-left: 580px;
}

.fixed-call {
  position: relative;
}

.relative-call {
  position: absolute;
  top: 320px;
  left: 230px;
  font-size: 20px;
}

.size-1 {
  font-size: 55px;
}
.round-img {
  border-radius: 48px;
  position: absolute;
  top: 350px;
  left: 230px;
}
.list {
  margin-left: 850px;
}

.background-color {
  background-color: lightblue;
}

.background-color-2 {
  background-color: lightcyan;
}
.background-color-3 {
  background-color: lightskyblue;
  padding-bottom: 50px;
}

.font-white {
  color: white;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-1 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.btn-size {
  width: 100%;
}

.bg-color-1 {
  background-color: black;
}
