* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}

html,
body {
  height: 100%;

  width: 100%;
}
.header {
  display: inline;
  margin-left: 700px;
}
#nav {
  display: flex;
  align-items: center;

  padding-bottom: 40px;
  padding-right: 40px;
  gap: 50px;

  margin-bottom: 30px;
  justify-content: flex-end;
  background-color: black;
  color: white;
}

.left-align {
  text-align: justify;
}
#head {
  text-align: center;
}

#img-1 {
  margin-top: 40px;
  margin-left: 240px;
}

/* .capsule {
  line-height: 48px;
  border-radius: 48px;
  background-color: black;
  color: white;
  margin-bottom: 220px;
  font-weight: 600; 
} */
/* .capsule-1 {
  line-height: 48px;
  border-radius: 48px;
  color: white;
  background-color: black;
  display: inline;
  padding: 10px 10px;
  font-weight: 600;
} */
.nav-heading {
  color: red;
}
.education {
  margin-top: 50px;
  margin-left: 580px;
}

.fixed-call {
  position: relative;
}

.relative-call {
  position: absolute;
  top: 320px;
  left: 230px;
  font-size: 20px;
}

.size-1 {
  font-size: 55px;
}
.round-img {
  border-radius: 48px;
  position: absolute;
  top: 350px;
  left: 230px;
}
.list {
  margin-left: 850px;
}
.skill {
  margin-left: 610px;
}

.list-2 {
  margin-left: 860px;
}
.background-color {
  background-color: lightblue;
}

.background-color-2 {
  background-color: lightcyan;
}
.container {
  background-color: lightskyblue;
}
